

/*dekstop css*/
@media(max-width: 1700px) {
    .sustainable .icon-img {
        left: 15%;
    }
    .projects .carusel-section .next-info {
        margin-top: 45px;
    }
    .projects .carusel-section .arrow-div {
        margin: 47px 0;
    }
    .impact .impact-left {
        padding-left: 15%;
    }
    .impact .impact-right:before {
        left: 202px;
    }
    .impact .impact-right .impact-inner {
        padding: 0 0 0 10%;
    }
    .product-wrapper .product-single .img-wrapp:before {
        height: 240px;
        width: 240px;
        top: 0px;
    }
}
@media(max-width: 1600px) {
    .sustainable .icon-img {
        left: 12%;
    }
    .projects .carusel-section .arrow-div {
        margin: 23px 0;
    }
    .impact .impact-left h2.heading {
        font-size: 35px;
    }
    .impact .impact-left {
        width: 60%;
    }
    .impact-element li a.active {
        transform: scale(1.2);
    }
    .impact .impact-right:before {
        left: 140px;
        top: 107px;
    }
    .impact-slider.owl-carousel .owl-item .item:before {
        left: -7px;
        width: 107%;
        height: 45%;
    }
    .impact .impact-right .impact-inner {
        padding: 0 0 0 9%;
    }
    .projects .carusel-section .carousel-item p {
        line-height: 1.259;
        font-size: 17px;
        width: 600px;
    }
}
@media(max-width: 1500px) {
    .sustainable .icon-img {
        left: 5%;
    }
    .sustainable .text {
        padding: 0 0 0 75px;
    }
    .projects .carusel-section .carousel-item .common-btn {
        margin-top: 20px;
    }
    .impact .impact-left h2.heading {
        font-size: 32px;
    }
    .impact {
        padding: 80px 0 0;
    }
    .impact .impact-left {
        padding-left: 10%;
    }
    .certification .container{
        margin-top:120px;
    }
    .certification .parallax-container{
        height:370px;
    }
    .product-wrapper .product-single .img-wrapp:before {
        height: 230px;
        width: 230px;
        top: -18px;
        left: 10px;
    }
}
@media(max-width: 1400px) {
    .home-slider .owl-nav .owl-next{
        margin-left: 50px !important;
    }
    .home-slider .owl-nav .owl-prev{
        left: -55px;
    }
    header:before{
        width: 85%;
    }
    .sustainable .icon-img {
        left: 0;
        top: 0;
    }
    .sustainable .text {
        padding: 0 0 0 40px;
    }
    .sustainable {
        padding: 62px 0;
    }
    .home-about .about-left {
        padding: 60px 0px 0 40px;
    }   
    .home-about {
        background-position: 0 57%;
    }
    .projects .carusel-section .text-wrapper {
        padding: 27px 0 0 50px;
    }
    .projects .carusel-section .next-info {
        margin-top: 20px;
    }
    .impact-slider.owl-carousel .owl-item .item {
        transform: scale(0.7);
    }
    .impact .impact-left {
        padding-left: 7%;
    }
    .impact .impact-element {
        margin-top: 60px;
    }
    .about-main .blue-net{
        width: 670px;
    }
    .breadcum_container h1 {
        font-size: 45px;
        width: 45%;
    }
    .product-wrapper .product-single h1 {
        bottom: 15%;
    }
    .product-wrapper .product-single:hover h1 {
        bottom: 20%;
    }
    .product-wrapper .product-single:hover .common-btn {
        bottom: 10%;
    }
}
@media(max-width: 1300px) {
    .sustainable .icon-img {
        width: 770px;
    }  
    .sustainable .text h2 {
        font-size: 38px;
        width: 350px;
    }
    .sustainable .text p {
        font-size: 23px;
    }
    .sustainable .text {
        padding: 0 0 0 70px;
    }
    .impact .impact-right {
        width: 47%;
    }
    .impact .impact-left {
        width: 55%;
    }
    .impact .impact-left {
        padding-left: 5%;
    }
    .impact-element li a.active {
        transform: scale(1.1);
    }
    .impact {
        padding: 65px 0 0;
    }
    .about-main .blue-net {
        width: 556px;
        bottom: -130px;
    }
    .background-changer a .caption {
        height: 30%;
    }
    .background-changer a .caption {
        width: 80%;
    }
    .expertise h1.heading {
        width: 45%;
    }
    .team-main h1.heading {
        width: 50%;
    }
    .testimonials-slider .item-wrapp .right-text {
        padding-left: 30px;
    }
    .testimonials-slider .owl-item.center .item-wrapp .quote-bottom, 
    .testimonials-slider .owl-item.center .item-wrapp .quote-top {
        width: 30px;
    }
    .testimonials-slider.owl-carousel .owl-nav .owl-prev {
        left: 5%;
    }
    .testimonials-slider.owl-carousel .owl-nav .owl-next {
        right: 5%;
    }
    .testimonials-slider .item-wrapp .right-text p {
        font-size: 13px;
        margin-bottom: 0;
    }
    .impact .impact-right:before {
        left: 100px;
    }
    .product-wrapper .product-single .img-wrapp:before {
        height: 210px;
        width: 210px;
        top: -18px;
        left: 0px;
    }
    .product-wrapper .product-single h1 {
        font-size: 24px;
    }
}

@media(max-width: 1200px) {
    .home-about .img-wrapp:before {
        width: 92%;
    }
    .home-about h2 br{
        display: none;
    }
    .home-about .about-left {
        padding: 0;
    }
    .home-about h2 {
        font-size: 28px;
    }
    .home-about .img-wrapp:before {
        height: 90%;
        width: 90%;
        top: 17px;
    }
    .projects .carusel-section .carousel-item h1 {
        font-size: 15px;
        margin-bottom: 25px;
    }
    .projects .carusel-section .text-wrapper {
        padding: 15px 0 0 50px;
    }
    .projects .carusel-section .carousel-item p {
        font-size: 20px;
        width: 470px;
    }
    .services-works .carusel-section,
    .services-works .work-section  {
        width: 100%;
    }
    .services-works .container {
        flex-direction: column;
    }
    .services-works .work-section {
        margin-top: 20px;
    }
    .work-slider .caption {
        padding: 20px 17px 18px 12px;
        height: 285px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
    }
    .impact .impact-left h2.heading {
        font-size: 28px;
    }
    .impact .impact-left {
        width: 58%;
    }
    .impact .impact-right {
        width: 44%;
    }
    .impact .impact-element {
        margin-top: 50px;
    }
    .about-main {
        padding: 30px 0 60px 0;
    }
    .about-main .about-left h1 {
        font-size: 29px;
    }
    .breadcum_container h1 {
        font-size: 30px;
    }
    .breadcum_container {
        top: 60%;
    }
    .footer-bottom span.foot-right {
        font-size: 12px;
    }
    .footer-bottom a {
        font-size: 12px;
    }
    .background-changer a .caption p {
        font-size: 15px;
    }
    .background-changer a .caption h1 {
        font-size: 30px;
    }
    .client-wrapper .client-single {
    width: 200px;
    height: 120px;
    margin-bottom: 60px;
    overflow: visible;
}

    .client-wrapper .client-single img{
        width: 115px;
    }
    .client-wrapper .client-single .overlay {
        position: absolute;
        bottom: -40px;
        left: 0;
        background: #0579a8;
        padding: 8px 0;
        text-align: center;
        transition: all 0.3s ease-in-out;
        width: 100%;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .client-wrapper .client-single .overlay h1 {
        font-size: 12px;
        margin-bottom: 0;
    }
    .team-wrapp .team-single .img-wrapp:before {
        height: 183px;
        width: 93%;
        background: linear-gradient(to top, #fff 50%, transparent 50%);
    }
    .team-wrapp .team-single p {
        font-size: 13px;
        color: #fff;
    }
    .team-wrapp .team-single h1 {
        color: #fff;
    }
    .team-wrapp .team-single:before {
        opacity: 1;
    }
    .team-wrapp .team-single {
        width: 24%;
        padding: 0px 15px 0 15px;
    }
    .team-main h1.heading {
        width: 70%;
    }
    .expertise h1.heading {
        width: 66%;
    }
    .faq-main {
        padding: 60px 0 0;
    }
    .contact-form p.para {
        width: 45%;
    }
    .contact-form {
        padding: 40px 0 50px;
    }
    .feature-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .img-wrapp img.product1 {
        width: 140px;
    }
    .img-wrapp img.circle {
        width: 300px;
    }
    .feature-wrap li span:nth-child(1), .right-features li span:nth-child(2) {
        font-size: 14px;
    }
    .faq-main .nav-tabs {
        width: 45%;
        margin: 0 auto 40px;
    }
    .trouble-right {
        padding: 7px 60px 0 20px;
    }
    .trouble-right p {
        font-size: 18px;
        margin-bottom: 18px;
    }
    .product-wrapper .product-single .img-wrapp:before {
        height: 190px;
        width: 190px;
        top: -27px;
        left: 0px;
    }
}

@media(max-width: 1100px) {
    .sustainable .icon-img {
        width: 700px;
        top: 26px;
    }
    .sustainable .solar-img {
        width: 60%;
    }
    .projects .carusel-section .carousel-item h1 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .projects .carusel-section .carousel-control span {
        font-size: 15px;
        padding: 5px;
    }
    .projects .carusel-section .carousel-item p {
        font-size: 18px;
        width: 430px;
    }
    .about-main .blue-net {
        width: 471px;
        bottom: -89px;
    }
    .about-main .img-wrapp {
        padding-left: 0;
    }
    .about-main .img-wrapp img{
        width: 460px;
    }
    .background-changer a .caption {
        width: 83%;
        height: 100%;
        top: 18%;
    }
    .background-changer a .caption span:nth-child(1) {
        font-size: 45px;
    }
    .background-changer a .caption h1 {
        font-size: 24px;
    }
    .background-changer a .caption span:nth-child(3){
        display: none;
    }
    .faq-wrapp {
        padding: 0;
    }
    .faq-wrapp .btn-link {
        font-size: 15px;
        padding: 10px 0;
    }
    .faq-main .img-wrapp{
        margin-top: 30px;
    }
    .faq-main {
        padding: 30px 0 50px;
    }
    .trouble-right {
        padding: 7px 60px 0 10px;
    }
    .product-wrapper .product-single h1 {
        font-size: 18px;
        bottom: 25%;
        text-align: center;
    }
    .product-wrapper .product-single .common-btn {
        bottom: 9%;
        width: 80px;
        height: 35px;
    }
    .product-wrapper .product-single .img-wrapp {
        top: 32%;
    }
}
/*ipad lanscape view */
@media(max-width: 1024px) {
    .home-slider .owl-nav .owl-next {
        margin-left: 40px !important;
    }
    .sustainable .icon-img{
        display: none;
    }
    .sustainable .solar-img {
        width: 63%;
    }
    .about-main .make-in-india {
        margin-top: 30px;
    }
    .about-main .make-in-india h2 {
        font-size: 29px;
    }
    .certification h1 {
        font-size: 35px;
    }
    .certification .container {
        margin-top: 100px;
    }
    .testimonials-slider .item-wrapp {
        -webkit-transform: scale3d(0.6, 0.6, 1);
        transform: scale3d(0.6, 0.6, 1);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin: 0 -60px;
    }
    .testimonials-slider .owl-item.center .item-wrapp {
        transform: scale3d(0.9, 0.9, 1);
    }
    .testimonials-slider .item-wrapp .right-text h2 {
        margin-bottom: 10px;
    }
    .testimonials-slider .item-wrapp .quote-bottom {
        bottom: -13px;
        right: -12px;
    }
    .impact .impact-right:before{
        display: none;
    }
    .impact-slider.owl-carousel .owl-item .item:before {
        left: -4px;
        width: 106%;
        height: 37%;
    }
    .impact-slider.owl-carousel .owl-item .item {
        padding: 90px 0 90px;
    }
    .impact .impact-slider .owl-item .img-wrapp:before{
        display: none;
    }
    .impact-slider.owl-carousel .owl-item.center .item {
        transform: scale(1.2) translate(0px, 0px);
    }
    .impact .impact-right .impact-inner {
        transform:unset;
    }
    .impact-slider.owl-carousel .owl-item.center .item:before{
        display: none;
    }
    .expertise-main h2 {
    font-size: 21px;
    margin-bottom: 5px;
}
}

/*ipad  view */
@media(max-width: 992px) {
    .home-slider .caption p {
        font-size: 15px;
        width: 265px;
        margin: 0 auto;
    }
    .home-slider .caption h1 {
        font-size: 33px;
    }
    .home-slider .caption a{
        margin: 20px auto 0;
    }
    .slider-section .text-box li a {
        font-size: 14px;
        padding: 10px 31px 10px 20px;
    }
    .slider-section .text-box {
    top: 33%;
}
.home-slider .owl-nav {
    width: 2%;
    }
    .slider-section .text-box li a span {
        font-size: 40px;
    }
    .home-slider.owl-theme .owl-nav [class*=owl-] {
        font-size: 30px;
    }
    .home-slider .owl-nav .owl-next {
        margin-left: 30px !important;
        height: 35px;
        width: 45px;
    }
    .home-slider .owl-nav .owl-prev {
        margin-right: 30px !important;
        height: 35px;
        width: 45px;
    }
    .nav-head .navbar-mob .nav-item:nth-child(7),
    .nav-head .navbar-mob .nav-item:nth-child(8){
        display: none;
    }
    .nav-head .logo-wrapp{
        padding: 10px 15px;
    }
    .nav-head .logo-wrapp img{
        width: 110px;
    }
    header:before{
        width: 85%;
    }
    header .nav-head {
        height: 55px;
    }
    .nav-head .navbar-mob .nav-link {
       padding: 0 8px;
        font-size: 12px;
    }
    .nav-head .navbar-mob .nav-item:nth-child(7){
        border:none;
    }
    .footer .section6 a {
        font-size: 16px;
    }
    .footer .section6 {
        width: 100%;
    }
    .footer .section5 {
        width: 90%;
        display: flex;
        align-items: center;
        margin: 15px 0;
    }
    .footer .section5 .social {
        margin-bottom: 0;
        margin-right: 40px;
    }
    .footer .section5 img{
        width: 150px;
    }
    .footer .section1{
        width: 20%;
    }
    .footer .section2{
        width: 24%; 
    }
    .footer .section3 {
        width: 20%;
    }
    .footer .section4 {
        width: 34%;
    }
    .footer .div-main {
        padding: 35px 0 20px;
    }
    .footer .section5:before{
        display: none;
    }
    .sustainable {
        padding: 20px 0;
    }
    .sustainable .solar-img {
        width: 60%;
    }
    .sustainable .text {
        padding: 0;
    }
    .projects .carusel-section .carousel-wrapper {
        width: 100%;
    }
    .projects .carusel-section {
        display: flex;
        flex-direction: column;
    }
    .projects .carusel-section .caption-box{
        display: flex;
        align-items: center;
    }
    .projects .carusel-section .text-wrapper {
        padding: 20px 20px;
    }
    .projects .carusel-section .text-box{
        width: 50%;
    }
    .projects .carusel-section .carousel-item p {
        width: auto;
    }
    .projects .carusel-section .next-info {
        margin-top: 0;
    }
    .projects .image-wrapper:before {
        display: none;
    }
    .work-slider .caption {
        width: 52%;
        text-align: center;
    }
    .impact .impact-element {
        margin-top: 30px;
    }
    .impact .impact-element li h1 {
        font-size: 14px;
    }
    .impact .impact-element li .counter-wrapp span {
        font-size: 18px;
    }
    .impact .impact-element li span {
        font-size: 34px;
    }
    .impact .impact-element li p {
        font-size: 10px;
    }
    .impact .impact-left h2.heading {
        font-size: 20px;
    }
    .impact-element li a.active {
        transform: scale(1.2);
    }
    .impact .impact-left {
        padding-left: 4%;
    }
    .about-main .img-wrapp img {
        width: 290px;
    }
    .about-main .about-left h1 {
        font-size: 21px;
    }
    .about-main .about-left p {
        font-size: 13px;
    }
    .about-main .make-in-india h2 {
        font-size: 22px;
    }
    .breadcum_container h1 {
        font-size: 24px;
    }
    .vision .background-changer a {
        height: 390px;
    }
    .background-changer a .caption p {
        font-size: 13px;
    }
    .certificate-slider.owl-theme .owl-nav [class*=owl-] {
        color: #FFF;
        font-size: 50px;
        margin: 0;
        padding: 0;
        border-radius: 0;
        background: transparent;
    }
    .certificate-slider.owl-carousel .owl-nav .owl-prev{
        transform: rotateY(180deg);
    }
    .certification .container {
        margin-top: 40px;
    }
    .certification h1{
        text-align: center;
        margin-bottom: 30px;
    }
    .certification h1 br{
        display: none;
    }
    .gallery-main p,
    .client-main p  {
        font-size: 18px;
        width: 100%;
    }
    .gallery-wrapp .gallery-single h1 {
        font-size: 17px;
        padding: 12px 0 12px 0;
    }
    .gallery-wrapp .gallery-single h1 {
        background: rgba(5, 121, 168, 0.7215686274509804);
        justify-content: center;
    }
    .gallery-wrapp .gallery-single h1 span {
        display: none;
    }
    .gallery-main, .client-main {
    padding: 40px 0 20px;
}
    .gallery-main h2,
    .client-main h2 {
        font-size: 32px;
    }
    .team-main, .expertise {
        padding: 40px 0 50px;
    }
    .team-wrapp .team-single .img-wrapp:before {
        width: 59%;
    }
    .team-wrapp .team-single {
        width: 49%;
        margin-bottom: 15px;
        min-height: 500px;
    }
    .expertise-wrapp {
        width: 100%;
    }
    .expertise h1.heading{
        margin: 0 auto;
    }
    .blog-wrapp .blog-single {
        width: 32%;
        margin-bottom: 25px;
    }
    .blog-main {
        padding: 40px 0 20PX;
    }
    .blog-wrapp  .blog-bottom .share-icon .social{
        height: 100px;
    }
    .blog-wrapp .blog-bottom .social a {
        background: #0579a8;
        color:#fff;
    }
    .blog-wrapp .blog-single .blog-middle {
        padding: 25px 10px 30px 15px;
    }
    .blog-wrapp .blog-single .blog-middle h2 {
        font-size: 14px;
    }
    .blog-wrapp .blog-bottom .social {
        bottom: 27px;
    }
    .blog-wrapp .blog-bottom .social a {
        height: 25px;
        width: 25px;
    }
    .detail-wrap {
        width: 90%;
    }
    .detail-wrap h1 {
        font-size: 30px;
    }
    .related-blog h1.heading {
        font-size: 28px;
    }
    .blog-main {
        padding: 30px 0 20PX;
    }
    .detail-wrap p {
        font-size: 15px;
    }
    .support-wrapp .support-single h2 {
        font-size: 15px;
    }
    .support-wrapp {
        width: 100%;
    }
    .customer-support h1.heading {
        margin-bottom: 25px;
    }
    .contact-form p.para {
        width: 60%;
    }
    .form-div {
        width: 100%;
    }
    .customer-support {
        padding: 40px 0;
    }
    .stay-connected {
        margin-top: 25px;
    }
    .channel-partner h1.heading,
    .contact-form h1.heading,
    .customer-support h1.heading{
        font-size: 30px;
    }
    .footer .section6 a:nth-child(10):before{
        display: block;
    }
    .overview .img-wrapp img{
        width: 220px;
        margin: 0 auto;
        display: block;
    }
    .product-main .overview .overview-right h1 {
    margin-bottom: 10px;
}
.overview-right p {
    font-size: 15px;
}
.related-products {
    padding: 40px 0;
}
    .product-main .overview {
        padding: 50px 0;
    }
    .heading ,
    .services-works h1.heading  {
        font-size: 30px;
    }
    .services-works h1.heading {
        margin-bottom: 20px;
    }
    .relatewrapp .related-single {
        padding: 25px 30px;
        margin: 0 15px;
    }
    .related-products .related-single h1 {
        font-size: 18px;
    }
    .feature-wrapper .feature-single:nth-child(1){
        order: 2;
        width: 50%;
    }
    .feature-wrapper .feature-single:nth-child(2){
        order: 1;  
        width: 100%;
    }
    .feature-wrapper .feature-single:nth-child(3){
        order: 3; 
        width: 50%;
    }
    .feature-wrapper .feature-single:nth-child(1),
    .feature-wrapper .feature-single:nth-child(3){
        padding: 30px 20px 0 20px;
    }

    .features {
        padding: 30px 0;
    }
    .features h1{
        margin-bottom: 0;
    }
    .feature-wrapper {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    /*.expertise-main .img-wrapp {
        padding: 0 15px 15px 15px;
        margin: 0 0;
    }*/
    .facility-single p br{
        display: none;
    }
    .facility-single p{
        font-size: 14px;
    }
    .facility-single {
        padding: 0 10px;
    }
    .expertise-main {
        padding: 45px 0;
    }
    .facility-wrapp {
        padding: 0;
    }
    .testimonials-slider.owl-carousel .owl-nav .owl-next {
        right: 11%;
    }
    .testimonials-slider.owl-carousel .owl-nav .owl-prev {
        left: 11%;
    }
    .testimonials-slider .item {
        padding: 20px 0;
    }
    .testimonials-slider .owl-item.center .item-wrapp .quote-bottom,
    .testimonials-slider .owl-item.center .item-wrapp .quote-top {
        display: none;
    }
    .testimonials {
        padding: 30px 0;
    }
    .faq-main .nav-tabs {
        width: 50%;
        margin: 0 auto 30px;
    }
    .faq-main .nav-tabs .nav-link {
        padding: 15px 40px;
        font-size: 16px;
    }
    .troubleshooting .img-wrap img {
        display: block;
        margin: 0 auto;
    }
    .troubleshooting .img-wrap:before {
        width: 80%;
    }
    .trouble-right p {
        font-size: 16px;
        margin-bottom: 26px;
    }
    .troubleshooting {
        padding: 30px 0 40px;
    }
    .trouble-right {
        padding: 7px 20px 0 10px;
    }
    .form-wrapp {
        width: 100%;
    }
    .openings {
        padding: 34px 0 50px;
    }
    .impact-slider.owl-carousel .owl-item .item {
        padding: 50px 0 70px;
    }
    .impact .impact-right .impact-inner {
        padding: 0;
    }
    .product-wrapper .product-single .img-wrapp:before {
        height: 120px;
        width: 120px;
        top: -7px;
        left: 10px;
    }
    .impact {
        padding: 40px 0 0;
    }
    .services-works {
        padding: 40px 0;
    }
    .product-wrapper .product-single .overlay {
        background-color: rgba(6, 103, 141, 0.53);
        opacity: 1;
    }
    .product-wrapper .product-single .img-wrapp:before{
        background-color: #fff;
    }
    .service-slider .caption {
        padding: 20px 40px 30px 30px;
    }
    .animate-arrow span {
    font-size: 27px;
    height: 8px;
}
.home-about {
    padding: 60px 0 40px;
    }
    .nav-head .navbar-mob .dropdown-menu .dropdown-item {
    font-size: 13px;
    padding: 9px 11px;
}
.client-wrapper {
    width: 100%;
    margin: 0 auto;
}
.client-wrapper .client-single .overlay{
    min-height: 60px;
}
}
/*mobile css start */
@media(max-width: 767px) {
    /*toggle*/
    button.navbar-toggler:focus {
        outline: 0px dotted;
        outline: 0px auto -webkit-focus-ring-color;
    }
    .navbar-toggler {
        padding: 0;
        z-index: 3;
    }
    .navbar-toggler .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 0px;
        background-color: #1a335e;
        border-color: transparent;
        position: relative;
        margin: 5px 0;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        z-index: 3;
    }
    header.shrink .navbar-toggler .icon-bar{
        background-color: #1a243f;  
    }
    .navbar-toggler.active .icon-bar.one {
        top: 7px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
    }

    .navbar-toggler.active .icon-bar{
        background-color: rgb(255,255,255);
        z-index: 3;
    }
    header.shrink .navbar-toggler.active .icon-bar{
        background-color: rgb(255,255,255);
        z-index: 3; 
    }
    .navbar-toggler.active .icon-bar.two {
        transform: translateX(155px);
    }
    .navbar-toggler.active .icon-bar.three {
        top: -7px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
    }
    .navbar-mob {
        background: #0579a8;
        position: fixed !important;
        top: 0;
        right: 0;
        width: 0%;
        height: 100vh;
        transition: all 0.3s ease;
        z-index: 2;
    }
    .navbar-mob.open{
        width: 100%;
    }
    .nav-head .logo-wrapp{
        position: static;
        padding: 0;
        box-shadow: none;
    }
    header{
        border-top: 0;
        background: #fff;
    }
    .navbar-nav {
        padding: 60px 0 0 20px;
    }
    header .nav-head ,
    header.shrink .nav-head{
        height: 80px;
    }
    .nav-head .navbar-expand-md {
        padding: 15px;
    }
    .nav-head .navbar-mob .nav-link{
        font-size: 16px;
    }
    .nav-head .navbar-mob .nav-item:nth-child(7),
    .nav-head .navbar-mob .nav-item:nth-child(8){
        display: block;
    }
    .home-slider, .slider-div {
        margin-top: 80px;
    }
    .nav-head .search-box .search-btn {
        color: #676767;
    }
    header.shrink .nav-head .navbar-mob .nav-link {
        color: #fff;
    }
    .home-slider .caption p,
    .home-slider .caption a,
    .animate-arrow{
        display: none;
    }
    .home-slider .owl-nav .owl-prev {
        position: absolute;
        border-radius: 0;
        padding: 20px;
        margin-right: 0;
        left: 0 ;
    }
    .home-slider .owl-nav .owl-next {
        position: absolute;
        margin-left:0 !important;
        height: 35px;
        width: 45px;
        right: 0;
    }
    .home-slider.owl-theme .owl-nav [class*=owl-]{
        background-color: transparent;
    }
    .home-slider .owl-nav {
        width: 100%;
        bottom: 70%;
        right: 0;
        left: 0;
    }
    .home-slider.owl-theme .owl-dots .owl-dot {
        display: inline-block;
    }
    .home-slider.owl-theme .owl-dots {
        position: absolute;
        right: 0;
        top: 57%;
        left: 0;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .home-slider .caption {
        position: static;
        background: #fff;
        padding: 0px 0;
    }
    .home-slider .caption h1 {
        font-size: 28px;
        margin-bottom: 0;
    }
    .home-slider .caption h1 br{
        display: none;
    }
    .footer .section1 {
        width: 33%;
    }
    .footer .section2 {
        width: 33%;
    }
    .footer .section3 {
        width: 22%;
    }
    .footer .section4 {
        width: 56%;
        float: right;
    }
    .footer .section5 .social a {
        font-size: 20px;
        margin: 0 2px;
    }
    .footer .section p {
        width: 160px;
        font-size: 12px;
    }
    .footer .section h1 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .footer .section4 span {
        font-size: 20px;
        margin-right: 10px;
    }
    .footer .section5 {
        width: 34%;
        flex-direction: column;
        margin: 15px 0;
        margin: 0;
    }
    .footer .section5 .social {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .footer .section6 {
        margin-top: 11px;
    }
    header,
    header.shrink {
        border-top:none;
    }
    .home-about h2 {
        font-size: 22px;
    }
    .home-about p {
        font-size: 12px;
    }
    .home-about {
        padding: 30px 0 20px;
        background-image: none;
    }
    .home-about .img-wrapp:before {
        height: 93%;
        width: 88%;
        top: 16px;
    }
    .sustainable .solar-img{
        display: none;
    }
    .sustainable .text {
        text-align: center;
    }
    .sustainable .text h2 {
        font-size: 28px;
        width: auto;
    }
    .sustainable .text p {
        font-size: 21px;
    }
    .sustainable .text .common-btn {
        margin: 20px auto 0;
    }
    .sustainable {
        padding: 30px 0;
    }
    .projects .carusel-section .text-box {
        width: 100%;
    }
    .projects .carusel-section .caption-box {
        flex-direction: column;
    }
    .projects .carusel-section .carousel-item p {
        font-size: 13px;
    }
    .projects .carusel-section .next-info .text p {
        font-size: 14px;
    }
    .projects .carusel-section .next-info span {
        font-size: 31px;
    }
    .projects .carusel-section .arrow-div {
        margin: 0;
    }
    .projects .carusel-section .next-info {
        margin: 20px 0;
    }
    .service-slider .carousel-wrapper {
        width: 100%;
    }
    .services-works .carusel-section {
        flex-direction: column;
    }
    .service-slider .caption p {
        font-size: 17px;
        margin: 30px 0;
    }
    .service-slider .caption h1 {
        font-size: 22px;
    }
    .services-works h1.heading {
        font-size: 30px;
        margin-bottom: 30px;
    }  
    .services-works {
        padding: 40px 0;
    } 
    .service-slider .image-outer .arrow-div {
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .service-slider .image-outer .arrow-div .left{
        display: block;
    }
    .service-slider .image-outer .arrow-div .right{
        transform: rotate(180deg);
    }
    .service-slider .caption {
        padding: 25px 40px 30px 30px;
    }
    .impact .impact-element {
        width: 90%;
        margin: 35px auto;
    }
    .impact .impact-left,
    .impact .impact-right {
        width: 100%;
    }
    .impact{
        flex-direction: column;
    }
    .impact .impact-element li .counter-wrapp span {
        font-size: 20px;
    }
    .impact .impact-element li h1 {
        font-size: 18px;
    }
    .impact .impact-element li span {
        font-size: 60px;
    }
    .impact .impact-left h1.heading,
    .impact .impact-left h2.heading{
        text-align: center;
    }
    .impact {
        padding: 25px 0;
    }
    .about-main .img-wrapp img {
        width: 300px;
        margin: 0 auto;
        display: block;
    }
    .about-main .about-left h1 {
        font-size: 18px;
    }
    .about-main .about-left p {
        font-size: 12px;
    }
    .about-main .make-in-india h2 .quote-bottom {
        right: 65px;
    }
    .about-main .make-in-india h2 {
        font-size: 26px;
    }
    .about-main .make-in-india .img-wrapper {
        padding-right: 25px;
        margin-right: 40px;
    }
    .about-main .about-left {
        text-align: center;
        padding-right: 0;
    }
    .breadcum_container a, .breadcum_container span {
        font-size: 12px;
    }
    .breadcum_container h1 {
        font-size: 25px;
        width: 70%;
        margin: 0 auto;
    }
    .breadcum {
        margin-top: 80px;
    }
    .background-changer a .caption {
        width: 83%;
        top: 25px;
        text-align: center;
        overflow: visible;
        width: 100%;
        left: 0;
    }
    .background-changer a .caption p {
        font-size: 12px;
        width: 90%;
        margin: 0 auto 0;
        text-align: center;
        position: static;
    }
    .vision .background-changer a {
        height: 200px;
        width: 100%;
        margin: 0px 0;
    }
    .vision .background-changer{
        flex-wrap: wrap;
    }
    .certificate-slider.owl-carousel .certificate-single {
        width: auto;
        height: 125px;
        margin: 0 10px;
    }
    .certificate-slider.owl-theme .owl-nav {
        margin-top: 10px;
        position: absolute;
        top: 16%;
        width: 100%;
    }
    .certificate-slider{
        position: relative;
    }
    .certificate-slider.owl-carousel .owl-nav .owl-prev{
        position: absolute;
        left: -25px;
    }
    .certificate-slider.owl-carousel .owl-nav .owl-next{
        position: absolute;
        right: -25px;
    }
    .certificate-slider.owl-theme .owl-nav [class*=owl-]:hover {
        background: transparent;
        color: #FFF;
        text-decoration: none;
    }
    .certificate-slider.owl-theme .owl-nav [class*=owl-] {
        font-size: 40px;
    }
    .certification .parallax-container {
        height: 270px;
    }
    .certification .container {
        margin-top: 20px;
    }
    .certification h1 {
        font-size: 22px;
    }
    .gallery-wrapp .gallery-single {
        width: 100%;
    }
    .gallery-main h2 ,
    .client-main h2{
        font-size: 25px;
    }
    .gallery-main p,
    .client-main p {
        font-size: 16px;
        width: 95%;
        margin-bottom: 30px;
    }

    .client-main p {
        font-size: 16px;
        width:100%;
        margin-bottom:0px;
    }
    .client-wrapper .client-single {
        width: 158px;
    }
    .client-wrapper .client-single img {
        width: 100px;
    }
    .client-wrapper .client-single {
        width: 160px;
    }
    .team-wrapp .team-single {
        min-height: 455px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 15px 0 15px;
    }
    .team-wrapp .team-single p {
        font-size: 12px;
    }
    .team-wrapp .team-single .img-wrapp:before {
    height: 177px;
    left: 0;
    width: 67%;
}
    .team-main h1.heading {
        font-size: 23px;
        margin: 0 auto 35px;
    }
    .expertise h1.heading {
        font-size: 27px;
        width: 80%;
    }
    .expertise-wrapp .expertise-single {
        width: 33.33%;
        margin-top: 30px;
    }
    .expertise-wrapp .expertise-single h2 {
        font-size: 14px;
    }
    .faq-main .img-wrapp{
        display: none;
    }
    .faq-wrapp .card-body {
        padding: 0 50px 30px 0;
        font-size: 12px;
    }
    .faq-wrapp .btn-link {
        font-size: 15px;
    }
    .faq-wrapp .btn-link span {
        font-size: 14px;
    }
    .blog-wrapp .blog-single {
        width: 90%;
        margin: 0 auto 20px;
    }
    .blog-wrapp .blog-single .blog-middle h2 {
        font-size: 15px;
    }
    .blog-detail {
        padding: 36px 0;
    }
    .detail-wrap h1 {
        font-size: 19px;
        margin-bottom: 5px;
    }
    .detail-wrap p {
        font-size: 13px;
    }
    .detail-wrap {
        width: 95%;
    }
    .detail-wrap h2 {
        font-size: 17px;
    }
    .related-blog h1.heading {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .contact-form p.para {
        width: 85%;
    }
    .form-div .captcha {
        margin-top: 0;
    }
    .support-wrapp .support-single:nth-child(1){
        width: 100%;
    }
    .support-wrapp .support-single:nth-child(2),
    .support-wrapp .support-single:nth-child(3)
    {
        width: 90%;
    }
    .support-wrapp .support-single p {
        width: 460px;
    }
    .customer-support h1.heading {
        margin-bottom: 10px;
    }
    .form-div .contact-btn {
        margin: 15px auto;
    }
    .sitemap {
        padding: 30px 0;
    }
    .sitemap .m-menu {
        font-size: 13px;
    }
    .sitemap .s-menu {
        font-size: 13px;
    }
    .sitemap a {
        margin-bottom: 1px;
    }
    .product-main .overview .overview-right {
        padding-left: 0;
    }
    .heading {
        font-size: 28px;
    }
    .related-products h2 {
        font-size: 22px;
        margin-bottom: 30px;
    }
    .related-products .related-single h1 {
        font-size: 11px;
    }
    .related-products .related-single .img-wrapp {
        height: 100px;
    }
    .relatewrapp .related-single {
        margin: 0 10px;
    }
    .related-products {
        padding: 25px 0 30px;
    }
    .img-wrapp img.product1, .img-wrapp img.circle {
        display: block;
    }
    .feature-wrap li {
        justify-content: flex-end;
        text-align: left;
        flex-direction: row-reverse;
    }

    .feature-wrap li span:nth-child(1), .right-features li span:nth-child(2) {
        font-size: 12px;
    }
    .feature-wrap li span:nth-child(2), .right-features li span:nth-child(1) {
        height: 25px;
        width: 25px;
        font-size: 12px;
    }
    .feature-wrap li span:nth-child(2) {
        margin-right: 10px;
    }
    .feature-wrapper .feature-single .img-wrapp{
        margin-bottom: 40px;
    }
    .specification .table thead:nth-child(1) th {
        font-size: 12px;
    }
    .specification tbody tr td {
        font-size: 13px;
    }
    .specification .table thead:nth-child(2) th {
        font-size: 13px;
    }
    .specification {
        padding: 25px 0;
    }
    .feature-wrapper .feature-single:nth-child(1),
    .feature-wrapper .feature-single:nth-child(3) {
        padding: 10px 20px 0 20px;
    }
    .expertise-main h1.heading {
        margin-bottom: 30px;
    }
    .expertise-main .img-wrapp {
        margin: 0 0 0px;
        padding:0px;
    }
    .expertise-wrap .text-wrapp p{
        padding-top:10px;
        margin-bottom: 0px;
        font-size: 13px;
    }
    .nav-scroll, .slimScrollDiv {
        height: auto !important;
    }
    .facility-single {
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .testimonials {
        padding: 30px 0px 20px;
    }
    .testimonials-slider .item-wrapp .right-text {
        padding-left: 10px;
    }
    .testimonials-slider .item-wrapp .img-wrapp:before{
        display: none;
    }
    .testimonials-slider .item {
        padding: 10px 80px;
    }
    .testimonials-slider.owl-carousel .owl-nav .owl-prev {
        left: 0%;
    }
    .testimonials-slider.owl-carousel .owl-nav .owl-next {
        right: 0;
    }
    .testimonials-slider .item-wrapp .right-text {
        display: block;
        opacity: 1;
    }
    .testimonials-slider .item-wrapp {
        opacity: 1;
        -webkit-transform:unset;
        transform: unset;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin: 0 -60px;
    }
    .testimonials-slider .item-wrapp .img-wrapp {
        margin-bottom: 20px;
    }
    .testimonials-slider .item-wrapp .right-text{
        text-align: center;
    }
    .testimonials-slider .item-wrapp{
        flex-direction: column;
        text-align: center;
    }
    .testimonials-slider .item-wrapp img{
        margin: 0 auto;
    }
    .faq-main .nav-tabs {
        width: 70%;
    }
    .faq-main .nav-tabs .nav-link {
        padding: 15px 50px;
    }
    .troubleshooting .img-wrap:before {
        width: 96%;
    }
    .trouble-right {
        padding: 20px 0px 0 10px;
    }
    .map-left thead tr th, .map-left tbody tr td {
        font-size: 12px;
    }
    .map-left tbody tr td {
        padding: 8px 0 8px 15px;
    }
    .map-left thead tr th {
        padding: 15px 0 15px 14px;
    }
    .map-section {
        padding: 30px 0;
    }
    .form-wrapp {
        padding: 30px 17px;
    }
    .creer-form {
        padding: 40px 0;
    }
    .creer-form .contact-btn {
        margin: 20px 0 auto;
    }
    .openings h1.heading {
        margin-bottom: 0;
    }
    .openings .career-wrapp {
        margin-top: 25px;
        padding: 30px 10px;
    }
    .impact-slider.owl-carousel .owl-item .item {
        padding: 50px 0 30px;
    }
    .product-wrapper {
        flex-wrap: wrap;
    }
    .product-wrapper .product-single {
        width: 100%;
    }
    .products-home .top-section .common-btn {
        margin: 20px auto auto;
    }
    .product-wrapper .product-single .common-btn {
        bottom: 13%;
    }
    .product-wrapper .product-single .img-wrapp {
        top: 35%;
    }
    .product-wrapper .product-single .common-btn {
        bottom: 13%;
    }
    .product-wrapper .product-single .img-wrapp:before {
        height: 165px;
        width: 165px;
    }
    .nav-head .search-box{
        position: absolute;
        right: 15%;
    }
    .navbar-expand-md .navbar-nav {
        align-items: baseline;
    }
    .service-slider .carousel-wrapper .arrow-div span.left-arrow {
        transform: unset;
    }
    .modal-header .close {
        right: 0px;
    }
    .product-main .list-group.fixed {
    bottom: 0;
    top: unset;
}
.product-main .footer-bottom {
padding: 8px 0;
}
.top-arrow {
    right: 3%;
    bottom: 31%;
    padding: 2px;
}
.top-arrow span {
    font-size: 20px;
    }
    .nav-head .navbar-mob .nav-item.dropdown{
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 5px;
}
.nav-head .navbar-mob .dropdown-menu {
    position: static;
    padding: 0;
    background-color: transparent;
    border:none;
}
.nav-head .navbar-mob .dropdown-menu:before{
    display: none;
}
.nav-head .navbar-mob .dropdown-menu .dropdown-item{
    color: #fff;
    font-size: 15px;
    padding: 5px 11px;
}
.expertise-main .img-wrapp {
    width: 100%;
}
.expertise-wrap {
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
}
    .home-slider.owl-theme .owl-nav [class*=owl-] {
            margin: 0px;
        }
 .impact .impact-element li span {
        font-size: 60px;
    }
    .impact .impact-element li span.new-icon-Icon1 {
    font-size: 65px;
    }
    .impact .impact-element li span.new-icon-Icon5 {
    font-size: 60px;
}
    .impact-element li a.active{
        transform: none;
    }
    .expertise-main .text-wrapp {
    width: 100%;
}
.expertise-main h2 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.expertise-wrap .text-wrapp p {
    padding-top: 0px;
    margin-bottom: 0px;
}
.openings .career-wrapp {
    height: auto;
}
.nav-head .search-box .search-btn span {
    display: none;
}
}
@media(max-width: 576px) { 
    .footer .section6 a {
        font-size: 12px;
    }  
    .footer .section6 a {
        font-size: 12px;
        margin-bottom: 7px;
        padding-right: 13px;
    } 
    .footer .section6 a:before {
        right: 2px;
        top: 8px;
    }
    .footer .section a {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .footer .section5 img{
        width: 90px;
    }
    .footer .section4,
    .footer .section5
    {
        margin-top: 20px;
    }
    .footer-bottom a,
    .footer-bottom span.foot-right{
        font-size: 11px;
    }
    .home-about .img-wrapp:before {
        height: 89%;
        width: 88%;
        top: 19px;
    }
    .common-btn {
        width: 110px;
        font-size: 13px;
    }
    .service-slider .caption p {
        font-size: 14px;
        margin: 15px 0;
    }
    .service-slider .image-wrapper:after{
        display: none;
    }
    .services-works h1.heading {
        font-size: 23px;
        margin-bottom: 30px;
    }
    .services-works {
        padding: 30px 0;
    }
    .work-slider .caption {
        width: 100%;
        position: static;
        padding: 30px 17px 30px 20px;
        height: auto;
    }
    .work-slider .caption p {
        font-size: 15px;    
        padding: 0 10px;
    }
    .sustainable .text h2 {
        font-size: 22px;
    }
    .service-slider .image-outer .arrow-div {
        top: 80%;
    }
   
    .impact .impact-element {
        width: 100%;
        margin: 30px auto;
    }
    .impact .impact-left h2.heading {
        font-size: 17px;
        width: 95%;
    }
    .impact-element li a {
        flex-direction: column;
        text-align: center;
    }
    /*.impact-element li a.active {
        transform: scale(1.3);
    }*/
    .about-main .make-in-india h2 {
        font-size: 22px;
    }
    .about-main .make-in-india .img-wrapper {
        padding-right: 0;
        margin-right: 0;
    }
    .about-main .make-in-india .img-wrapper img{
        width: 158px !important;  
    }
    .about-main .make-in-india h2 .quote-top,
    .about-main .make-in-india h2 .quote-bottom{
        display: none;
    }
    .about-main .about-left h1 {
        font-size: 16px;
    }
    .about-main .make-in-india .img-wrapper img {
        display: none;
    } 
    .about-main {
        padding: 30px 0 30px 0;
    }
    .about-main .blue-net {
        display: none;
    }
    .vision .background-changer a {
        height: 250px;
        margin: 0;
    }
    .background-changer a .caption {
        top: 30px;
    }
    .gallery-main p, .client-main p {
        font-size: 14px;
    }
    .team-main, .expertise {
        padding: 30px 0 30px;
    }
    .team-main{
        padding-bottom: 20px;
    }
    .expertise-wrapp .expertise-single .icon-wrap span {
        font-size: 37px;
    }
    .expertise-wrapp .expertise-single h2 {
        font-size: 11px;
    }
    .expertise-wrapp .expertise-single p span:nth-child(1) {
        font-size: 20px;
    }
    .expertise h1.heading {
        font-size: 22px;
        width: 90%;
    }
    .expertise-wrapp .expertise-single {
        margin-top: 25px;
    }
    .breadcum_container h1 {
        font-size: 18px;
    }
    .faq-main {
        padding:30px 0;
    }
    .channel-partner h1.heading, 
    .contact-form h1.heading, 
    .customer-support h1.heading {
        font-size: 19px;
    }
    .contact-form p.para {
        font-size: 15px;
    }
    .form-div .form-group label{
        font-size: 14px;
    }
    .stay-connected a {
        font-size: 20px;
    }
    .support-wrapp .support-single {
        padding: 15px 0;
    }
    .support-wrapp .support-single p,
    .support-wrapp .support-single a {
        font-size: 14px;
    }
    .channel-partner {
        padding: 35px 0;
    }
    .support-wrapp .support-single h1 {
        font-size: 14px;
    }
    .contact-form {
        padding: 30px 0 35px;
    }
    .form-div .contact-btn {
        margin: 20px auto 0px 70px;
    }
    .channel-partner h1.heading {
        margin-bottom: 20px;
    }
    .form-div .contact-btn {
        margin: 20px auto 0 0;
    }
    .contact-form p.para {
        width: 100%;
    }
    .stay-connected {
        margin-top: 20px;
    }
    .gallery-main, .client-main,
    .gallery-main, .client-main {
        padding: 25px 0;
    }
    .gallery-main h2, .client-main h2 {
        font-size: 21px;
    }
    .channel-partner {
        padding: 25px 0;
    }
    .sitemap {
        padding: 20px 0;
    }
    .error-div p {
        font-size: 16px;
    }
    .error-div {
        padding: 40px 0;
    }
    .error-div h2 {
        font-size: 28px;
    }
    .heading {
        font-size: 22px;
    }
    .product-main .overview .overview-right li {
        font-size: 13px;
        margin: 0 0 15px 30px;
    }
    .product-main .overview-right .btn-div span:nth-child(2){
        display: none;
    }
    .common-btn{
        font-size: 12px;
    }
    .product-main .overview-right .btn-div span:nth-child(1) {
        font-size: 18px;
        margin-right: 5px;
    }
    .overview .img-wrapp img {
        width: 250px;
    }
    .product-main .overview {
        padding: 35px 0;
    }
    .product-main .list-group-item {
        font-size: 13px;
    }
    .related-products .related-single .common-btn {
        font-size: 14px;
    }
    .feature-wrapper .feature-single:nth-child(1),
    .feature-wrapper .feature-single:nth-child(2),
    .feature-wrapper .feature-single:nth-child(3){
        width: 100%;
    }
    .feature-wrap li span:nth-child(1) br,
    .right-features li span:nth-child(2) br{
        display: none;
    }
    .right-features li, .feature-wrap li {
        margin-bottom: 15px;
    }
    .feature-wrap li span:nth-child(2) {
        margin-left: 0;
    }
    .feature-wrap li span:nth-child(2), .right-features li span:nth-child(1) {
        height: 20px;
        width: 20px;
        font-size: 11px;
        min-width: 20px;
    }
    .features h1 {
        margin-bottom: 20px;
    }
    .feature-wrapper .feature-single .img-wrapp {
        margin: 0 0 20px 0;
    }
    .specification h1.heading {
        margin-bottom: 20px;
    }
    .product-main .overview .overview-right h1 {
        margin-bottom: 13px;
    }
    .overview-right p {
        font-size: 13px;
    }
    .overview .img-wrapp {
        margin-bottom: 20px;
    }
    .features-rms .img-wrapp img.product1 {
        top: 0;
    }
    .product-main .list-group-item:first-child {
        text-align: center;
        padding: 15px 0;
    }
    .product-main .list-group-item:last-child {
        text-align: center;
        padding: 10px;
    }
    .product-main .list-group-item{
        padding: 10px;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .download-manual span:nth-child(2) {
        font-size: 18px;
        margin-right: 9px;
    }
    .common-btn.download-manual {
        width: 206px;
        height: 55px;
    }
    .facility-single .icon-wrapp span {
        font-size: 40px;
    }
    .facility-single p {
        font-size: 12px;
    }
    .expertise-main {
        padding: 30px 0 10px;
    }
    .testimonials-slider .item-wrapp .right-text p {
        font-size: 12px;
    }
    .testimonials-slider .item-wrapp .right-text h1 {
        font-size: 17px;
    }
    .faq-main .nav-tabs .nav-link {
        padding: 15px 55px;
        font-size: 13px;
    }
    .faq-main .nav-tabs {
        width: 80%;
    }
    .troubleshooting .img-wrap:before {
        width: 94%;
        height: 93%;
        top: 14px;
    }
    .trouble-right .form-group {
        margin-bottom: 30px;
    }
    .trouble-right p {
        font-size: 12px;
        margin-bottom: 19px;
    }
    .map-left p {
        font-size: 16px;
    }
    .openings .career-wrapp p {
        font-size: 12px;
    }
    .openings .career-wrapp h1 {
        font-size: 18px;
    }
    .openings {
        padding: 30px 0 40px;
    }
    .creer-form h1.heading {
        margin-bottom: 20px;
    }
    .footer .section1{
        width: 32%;
    }
    .footer .section2{
        width: 38%
    }
    .footer .section3 {
        width: 30%;
    }
    .blog-wrapp.news-wrapp h1 {
    margin-bottom: 40px;
}
}
@media(max-width: 480px) {
    .team-wrapp .team-single {
        height: auto;
        padding: 0px 15px 0 15px;
        width: 90%;
        margin: 0 auto 20px;
    }
    .team-main h1.heading {
        width: 90%;
        font-size: 22px;
    }
    .expertise-wrapp .expertise-single p span:nth-child(2) {
        font-size: 12px;
    }
    .support-wrapp .support-single p {
        width: 330px;
    }
    .support-wrapp .support-single p, .support-wrapp .support-single a {
        font-size: 13px;
    }
    .breadcum_container h1 {
        font-size: 13px;
    }
    .faq-main .nav-tabs {
        width: 95%;
    }
    .faq-main .nav-tabs .nav-link {
        padding: 10px 41px;
    }
    .faq-wrapp .btn-link {
        font-size: 13px;
    }
    .troubleshooting .img-wrap:before {
        width: 92%;
        height: 90%;
    }
    .client-wrapper .client-single {
    width: 45%;
}
.common-btn.download-manual {
    width: 190px;
    height: 45px;
}
.expertise-main .download-manual span:nth-child(2) {
    width: 80px;
    font-size: 13px;
    line-height: 0.96;
    margin-right: 0px;
}
.expertise-main .common-btn.download-manual {
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.common-btn.download-manual {
    width: 170px;
    height: 45px;
}
.download-manual span:nth-child(1) {
    font-size: 16px;
    padding: 10px;
    margin-left: 0px;
}
.home-about .img-wrapp:before {
    height: 87%;
    width: 88%;
    top: 22px;
}
.projects .caption-box {
    height: 230px;
}
.projects .caption-box {
    height: 230px;
}
}
@media(max-width:425px) {
.client-wrapper .client-single {
    width: 44%;
}
.projects .caption-box {
    height: 240px;
}
.team-wrapp .team-single .img-wrapp:before {
   
    width: 60%;
}
}
@media(max-width:375px) {
.team-wrapp .team-single .img-wrapp:before {
   
    width: 65%;
}
}
@media(max-width: 360px) {
.common-btn.download-manual {
    width: 160px;
    height: 45px;
}
.client-wrapper .client-single .overlay h1 {
    font-size: 11px;
    margin-bottom: 0;
}
}
@media(max-width: 359px) { 
    .footer .section5 .social a {
        font-size: 18px;
        margin: 0;
    }
    .footer .section a {
        margin-bottom: 0px;
    }
    .footer-bottom a, .footer-bottom span.foot-right {
        font-size: 12px;
    }
    .footer-bottom {
        text-align: center;
    }
    .impact .impact-element{
        display: none;
    }
    .about-main .make-in-india h2 {
        font-size: 18px;
    }
    .expertise-wrapp .expertise-single h2 {
        font-size: 12px;
    }
    .expertise-wrapp .expertise-single {
        width: 47%;
    }
    .support-wrapp .support-single p {
        width: 299px;
    }
    .relatewrapp .related-single {
        padding: 25px 22px;
    }
    .relatewrapp .related-single {
        margin: 0 5px;
    }
    .troubleshooting .img-wrap:before {
        width: 89%;
        height: 88%;
        top: 16px;
    }
    .troubleshooting {
        padding: 20px 0 30px;
    }
    .footer .section a {
        font-size: 11px;
    }
    .footer .section h1 {
        font-size: 13px;
        margin-bottom: 5px;
    }

}


@media(min-width: 1200px) { 
    .slider-section .text-box li a:hover{
        background-image: linear-gradient(to right, rgba(5, 121, 168,0.949) 0, transparent 100%);
        color: #fff;
    }
    .slider-section .text-box li a:hover:before{
        opacity: 1;
    }
    .footer .section6 a:hover,
    .footer .section a:hover{
        color: rgb(5, 121, 168);
    }
    .footer-bottom a:hover{
        color: rgba(166, 161, 161, 0.9882352941176471);
    }
    .breadcum_container a:hover{
        color: #0579a8;
    }
    .background-changer a:hover .caption span:nth-child(3){
        display: none;
        opacity: 0;
    }
    .background-changer a:hover .caption{
        height: 63%;
    }
    .vision .background-changer a:hover:after{
        height: 100%;
    }
    .client-wrapper .client-single:hover .overlay{
        height: 100%;
    }
    .team-wrapp .team-single:hover:before{
        opacity: 1;
    }
    .team-wrapp .team-single:hover .img-wrapp:before{
        background-image: linear-gradient(to top, #fff 50%, transparent 50%);
    }
    .team-wrapp .team-single:hover p,
    .team-wrapp .team-single:hover h1{
        color: #fff;
    }
    .expertise-wrapp .expertise-single:hover .icon-wrap{
        background: #0579a8;
    }
    .expertise-wrapp .expertise-single:hover .icon-wrap span{
        color: #fff;
    }
    .blog-wrapp .blog-single .img-wrapp:hover img,
    .detail-wrap .img-wrapp:hover img{
        transform: scale(1.1);
    }
    .blog-wrapp  .blog-bottom .share-icon:hover .social{
        height: 100px;
    }
    .blog-wrapp .blog-inner:hover{
        color: #fff;
        background-color:#0579a8; 
        transition: all 0.3s ease-in-out;
    }
    .blog-wrapp.news-wrapp .blog-inner:hover{
        background-color: #fff;
    }
    .blog-wrapp .blog-single:hover .blog-middle h2,
    .blog-wrapp .blog-single:hover .blog-middle h1,
    .blog-wrapp .blog-single:hover .blog-bottom span:nth-child(2){
        color: #fff;
        transition: all 0.3s ease-in-out;
    }
    .support-wrapp .support-single:hover{
        background-color: rgba(255, 255, 255,0.169);
    }
    .stay-connected a:hover{
        color: rgb(184, 182, 182);
    }
    .detail-wrap .social-share a:hover{
        color: #0579a8;
    }
    .sitemap .m-menu:hover,
    .sitemap .s-menu:hover{
        color: rgb(5, 121, 168);
    }
    .blog-wrapp.news-wrapp .blog-single .common-btn:hover{
        color: #fff;
    }
    .troubleshooting .img-wrap:hover img{
        transform: scale(1.1);
    }
    .product-wrapper .product-single:hover .overlay{
        opacity: 0;
    }
    .product-wrapper .product-single:hover .common-btn{
        bottom: 15%;
    }
    .product-wrapper .product-single:hover .img-wrapp{
        top: 35%;
    }
    .product-wrapper .product-single:hover h1{
        bottom: 25%;
    }
    .common-btn:hover:before,
    header .navbar-mob .nav-item:nth-child(8) .nav-link:hover:before{
        width: 100%;
    }
    .projects .carusel-section .carousel-item .common-btn:hover:before{
        background-color: rgba(5, 121, 168,1);  
    }
    .projects .carusel-section .carousel-item .common-btn:hover,
    .projects .carusel-section .carousel-item .common-btn:hover span{
        color:rgba(255,255,255,1) !important;  
    }
    .common-btn:hover,
    .related-products .related-single .common-btn:hover,
    header .navbar-mob .nav-item:nth-child(8) .nav-link:hover{
        color: #fff;
    }
    .common-btn:hover span,
    .product-main .overview-right .btn-div .common-btn:hover span:nth-child(2),
    .nav-head .navbar-mob .nav-item:nth-child(8) .nav-link:hover span{
        transform:rotate(180deg) translateX(-10px);
    }
    .product-wrapper .product-single:hover .img-wrapp:before{
        background-color: #fff;
    }
    .product-wrapper .product-single .common-btn:hover,
    .service-slider .caption a.common-btn:hover{
        border-color: rgb(103, 103, 103);
    }
    .overview-right .btn-div .common-btn:nth-child(2):hover:before{
        background-color: rgb(5, 121, 168);
    }
    .common-btn.download-manual:hover span:nth-child(1),
    .common-btn.download-manual:hover span:nth-child(2){
        transform:none;  
    }
    .top-arrow:hover span{
        color: #a6a1a1fc;
    }
.nav-head .navbar-mob .dropdown-menu{
  display: none !important;
}
.nav-head .navbar-mob .nav-item.dropdown:hover .dropdown-menu{
  display: block !important;
}
}

