@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3krhq3');
  src:  url('../fonts/icomoon.eot?3krhq3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3krhq3') format('truetype'),
    url('../fonts/icomoon.woff?3krhq3') format('woff'),
    url('../fonts/icomoon.svg?3krhq3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
  content: "\e919";
}
.icon-1183875:before {
  content: "\e918";
}
.icon-phone-call:before {
  content: "\e916";
}
.icon-download-folder:before {
  content: "\e917";
}
.icon-phone-call1:before {
  content: "\e915";
}
.icon-share:before {
  content: "\e914";
}
.icon-hghdfvdfverg6:before {
  content: "\e90d";
}
.icon-hghdfvsacadfverg6:before {
  content: "\e90e";
}
.icon-jhdfjv7:before {
  content: "\e90f";
}
.icon-jhdsdf87:before {
  content: "\e910";
}
.icon-jx87:before {
  content: "\e911";
}
.icon-mnmndf98:before {
  content: "\e912";
}
.icon-sjcd7:before {
  content: "\e913";
}
.icon-twitter:before {
  content: "\e90c";
}
.icon-facebook-logo-outline:before {
  content: "\e909";
}
.icon-linkedin-social-outline-logotype:before {
  content: "\e90a";
}
.icon-placeholder1:before {
  content: "\e90b";
}
.icon-153857:before {
  content: "\e900";
}
.icon-213381:before {
  content: "\e901";
}
.icon-1002736:before {
  content: "\e902";
}
.icon-1256495:before {
  content: "\e903";
}
.icon-1379714:before {
  content: "\e904";
}
.icon-go-back-left-arrow:before {
  content: "\e905";
}
.icon-hggv76:before {
  content: "\e906";
}
.icon-placeholder:before {
  content: "\e907";
}
.icon-sadvsdfvdf:before {
  content: "\e908";
}

@font-face {
  font-family: 'new-icomoon';
  src:  url('../fonts/new-fonts/new-icomoon.eot?n47iik');
  src:  url('../fonts/new-fonts/new-icomoon.eot?n47iik#iefix') format('embedded-opentype'),
    url('../fonts/new-fonts/new-icomoon.ttf?n47iik') format('truetype'),
    url('../fonts/new-fonts/new-icomoon.woff?n47iik') format('woff'),
    url('../fonts/new-fonts/new-icomoon.svg?n47iik#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="new-icon-"], [class*=" new-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'new-icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-icon-values2:before {
  content: "\e956";
}
.new-icon-vision-h:before {
  content: "\e957";
}
.new-icon-mission-h:before {
  content: "\e958";
}
.new-icon-Icon6:before {
  content: "\e900";
}
.new-icon-Icon2 .path1:before {
  content: "\e901";
  color: rgb(204, 204, 204);
}
.new-icon-Icon2 .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path10:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path11:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path12:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path13:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path14:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path15:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path16:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path17:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path18:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path19:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path20:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path21:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path22:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path23:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path24:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path25:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path26:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path27:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path28:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path29:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path30:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path31:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path32:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path33:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path34:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path35:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path36:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path37:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path38:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path39:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path40:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path41:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon2 .path42:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon3 .path1:before {
  content: "\e92b";
  color: rgb(0, 0, 0);
}
.new-icon-Icon3 .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path4:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path5:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path6:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path7:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path8:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path9:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path10:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path11:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path12:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path13:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path14:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path15:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path16:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path17:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path18:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path19:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path20:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path21:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path22:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path23:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path24:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path25:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path26:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path27:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path28:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path29:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path30:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path31:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path32:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path33:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path34:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path35:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path36:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path37:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.new-icon-Icon3 .path38:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon3 .path39:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon3 .path40:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.new-icon-Icon4:before {
  content: "\e953";
}
.new-icon-Icon5:before {
  content: "\e954";
}
.new-icon-Icon1:before {
  content: "\e955";
}

@font-face {
  font-family: 'new-icomoon';
  src:  url('../fonts/new-fonts1/new-icomoon.eot?vljtal');
  src:  url('../fonts/new-fonts1/new-icomoon.eot?vljtal#iefix') format('embedded-opentype'),
    url('../fonts/new-fonts1/new-icomoon.ttf?vljtal') format('truetype'),
    url('../fonts/new-fonts1/new-icomoon.woff?vljtal') format('woff'),
    url('../fonts/new-fonts1/new-icomoon.svg?vljtal#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="new-icon-"], [class*=" new-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'new-icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-icon-Icon22 .path1:before {
  content: "\e900";
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.new-icon-Icon22 .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path19:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path20:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path21:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path22:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path23:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path24:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path25:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path26:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path27:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path28:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path29:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path30:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path31:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path32:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path33:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path34:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path35:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path36:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path37:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path38:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path39:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path40:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path41:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path42:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
.new-icon-Icon22 .path43:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(7, 121, 168);
}
