.pointer {
	cursor: pointer;
}

.cursor-move {
	cursor: move;
}

.options .dropdown-menu {
	right: 0 !important;
	left: auto;
	box-shadow: 0 6px 6px rgba(0,0,0,0.175);
	border: 1px solid rgba(0,0,0,0.15);
}
.fa-margin {
	margin-right: 7px;
}
.dropdown-menu > li > a {
    color: #000;
}

.label-checkbox{
	margin-top: 20px !important;
}

div.indentation {
    float: left;
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em;
    padding: 0.42em 0 0.42em 0.6em;
    width: 20px;
}

.datepicker {
	z-index: 1030;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	color: #fff;
}

.files-shortable .ui-sortable-handle:nth-child(4n+1) {
	clear: left;
}

.navbar-custom-menu .dropdown-menu{
	overflow-y: scroll;
    max-height: 400px;
}

.content {
	min-height: 500px;
}



span.help-block.form-error {
	font-size: 13px;
}

/*
	for mobile only
*/
@media(max-width: 767px) {
	.label-checkbox{
		margin-top: none;
	}	
}